:root {
    --Color: #FFFFFF;
    --color-feedback-warning-shade: #FFFFFF;
    --color-feedback-warning-tint: #FFFFFF;
    --color-feedback-warning-base: #FFFFFF;
    --color-feedback-danger-shade: #FFFFFF;
    --color-feedback-danger-tint: #FFFFFF;
    --color-feedback-danger-base: #FFFFFF;
    --color-status-down: #FFFFFF;
    --color-status-degraded: #FFFFFF;
    --color-status-healthy: #FFFFFF;
    --color-status-limited: #FFFFFF;
    --color-status-uinavailable: #FFFFFF;
    --color-status-available: #FFFFFF;
    --color-status-stopped: #FFFFFF;
    --color-status-paused: #FFFFFF;
    --color-status-completed: #FFFFFF;
    --color-status-in_progress: #FFFFFF;
    --color-status-pending: #FFFFFF;
    --color-status-rejected: #FFFFFF;
    --color-status-approved: #FFFFFF;
    --color-status-upcoming: #FFFFFF;
    --color-status-live: #FFFFFF;
    --color-status-busy: #FFFFFF;
    --color-status-ofline: #FFFFFF;
    --color-status-online: #FFFFFF;
    --color-feedback-success-shade: #FFFFFF;
    --color-feedback-success-tint: #FFFFFF;
    --color-feedback-success-base: #FFFFFF;
    --color-feedback-success-light: #FFFFFF;
    --color-surface-primary-inverse: var(--black);
    --color-interaction-muted: var(--color-neutral-neutral);
    --color-interaction-tertiary: var(--color-yellow-yellow);
    --color-interaction-secondary: var(--color-purple-purple);
    --color-interaction-primary: var(--color-blue-blue);
    --color-placeholder-muted: var(--color-neutral-neutral);
    --color-placeholder-primary: var(--color-neutral-neutral);
    --color-border-divider: var(--color-neutral-neutral);
    --color-border-purple: var(--color-purple-purple);
    --color-border-warn: var(--color-orange-orange);
    --color-border-alert: var(--color-yellow-yellow);
    --color-border-error: var(--color-red-red);
    --color-border-success: var(--color-green-green);
    --color-border-hovered: var(--color-blue-blue);
    --color-border-focus: var(--color-blue-blue);
    --color-border-tertiary: #FFFFFF;
    --color-border-inverse: var(--color-neutral-neutral);
    --color-border-secondary: var(--color-neutral-neutral);
    --color-border-primary: var(--color-neutral-neutral);
    --colo-fg-yellow: var(--color-yellow-yellow);
    --colo-fg-purple: var(--color-purple-purple);
    --colo-fg-orange: var(--color-orange-orange);
    --colo-fg-red: var(--color-red-red);
    --colo-fg-blue: var(--color-blue-blue);
    --colo-fg-green: var(--color-green-green);
    --colo-fg-overlay: #FFFFFF;
    --color-fg-inverse: var(--white);
    --color-fg-muted: var(--color-neutral-neutral);
    --color-fg-purple-secondary: var(--color-purple-900);
    --color-fg-purple: var(--color-purple-purple);
    --color-fg-info-secondary: var(--color-blue-900);
    --color-fg-info: var(--color-blue-blue);
    --color-fg-alert-secondary: var(--color-yellow-900);
    --color-fg-alert: var(--color-yellow-yellow);
    --color-fg-warning-secondary: var(--color-orange-900);
    --color-fg-warning: var(--color-orange-orange);
    --color-fg-success-secondary: var(--color-green-900);
    --color-fg-success: var(--color-green-green);
    --color-fg-error-secondary: var(--color-red-900);
    --color-fg-error: var(--color-red-red);
    --color-surface-overlay: var(--color-neutral-neutral);
    --color-surface-hovered: var(--color-neutral-neutral);
    --color-surface-purple-tertiary: var(--color-purple-purple);
    --color-surface-purple-secondary: var(--color-purple-purple);
    --color-surface-purple: var(--color-purple-purple);
    --color-surface-info-muted: var(--color-blue-blue);
    --color-surface-info-tertiary: var(--color-blue-blue);
    --color-surface-info-secondary: var(--color-blue-blue);
    --color-fg-tertiary: var(--color-neutral-neutral);
    --color-surface-info: var(--color-blue-blue);
    --color-surface-alert-tertiary: var(--color-yellow-yellow);
    --color-surface-alert-secondary: var(--color-yellow-yellow);
    --color-surface-alert: var(--color-yellow-yellow);
    --color-surface-warn-tertiary: var(--color-orange-orange);
    --color-surface-warn-secondary: var(--color-orange-orange);
    --color-surface-warn: var(--color-orange-orange);
    --color-fg-secondary: var(--color-neutral-neutral);
    --colors-surface-success-tertiary: var(--color-green-green);
    --colors-surface-success-secondary: var(--color-green-green);
    --color-fg-primary: var(--color-neutral-neutral);
    --color-bg-overlay: var(--color-neutral-neutral);
    --colors-surface-success: var(--color-green-green);
    --color-surface-danger-tertiary: var(--color-red-red);
    --color-surface-danger-secondary: var(--color-red-red);
    --color-surface-danger: var(--color-red-red);
    --color-bg-inverse: var(--color-neutral-neutral);
    --color-bg-purple: var(--color-purple-purple);
    --color-surface-error-tertiary: var(--color-red-red);
    --color-surface-error-secondary: var(--color-red-red);
    --color-surface-error: var(--color-red-red);
    --color-bg-info: var(--color-blue-blue);
    --color-surface-muted: var(--color-neutral-neutral);
    --color-bg-warning: var(--color-orange-orange);
    --color-bg-alert: var(--color-yellow-yellow);
    --color-bg-success: var(--color-green-green);
    --color-surface-tertiary: var(--color-neutral-neutral);
    --color-surface-secondary: var(--white);
    --color-bg-Error: var(--color-red-red);
    --color-surface-primary: var(--white);
    --color-bg-tertiary: var(--color-neutral-neutral);
    --color-bg-secondary: var(--color-neutral-neutral);
    --color-bg-primary: var(--white);
}